.editor_semanticColors {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  .editor_semanticColors_colorPickersBox {
    display: flex;
    gap: 32px;
    padding-left: 16px;
    .editor_semanticColors_colorPicker {
      width: 200px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .editor_semanticColors_colorPickerControl {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .editor_semanticColors_colorPickerControlLabel {
          display: flex;
          align-items: center;
          gap: 4px;
          .tabler-icon {
            color: var(--theme_text_muted);
            width: 18px;
            height: 18px;
            cursor: pointer;
          }
          span {
            color: var(--theme_text_muted);
          }
        }
        .input {
          width: 100%;
        }
      }
    }
  }
  .editor_semanticColors_colorRamp {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .editor_semanticColors_colorRampLabel {
      display: flex;
      align-items: center;
      gap: 4px;
      span,
      .tabler-icon {
        color: var(--theme_text_muted);
      }
      .tabler-icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
    .editor_semanticColors_percentageInputsBox {
      display: flex;
      margin-bottom: 10px;
      .input {
        margin-left: -1px;
        width: 51px;
        z-index: 1;
        position: relative;
        font-size: var(--font_size_small);
        input {
          padding: 12px 0;
          border-radius: 0;
          text-align: center;
        }
        &:has(input:focus) {
          z-index: 2;
        }
        &:first-of-type {
          margin-left: 0;
          input {
            border-radius: 8px 0 0 8px;
          }
        }
        &:last-of-type {
          width: 50px;
          input {
            border-radius: 0 8px 8px 0;
          }
          &::after {
            content: '%';
            color: var(--theme_text_muted);
            position: absolute;
            left: calc(100% + 4px);
            font-size: var(--font_size_body);
          }
        }
        &:nth-child(7) {
          width: 61px;
        }
      }
    }
    .editor_semanticColors_scaleBox {
      display: flex;
      align-items: center;
      box-shadow: 0 0 0 1px var(--theme_border);
      border-radius: 8px;
      margin-bottom: 24px;
      .editor_semanticColors_scaleStep {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .tabler-icon {
          opacity: 0;
        }
        &:first-of-type {
          border-radius: 8px 0 0 8px;
        }
        &:last-of-type {
          border-radius: 0 8px 8px 0;
        }
        &:nth-child(6) {
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .editor_semanticColors_centerScaleStep {
            position: absolute;
            width: 60px;
            height: 60px;
            background: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &:hover {
          .tabler-icon {
            opacity: 1;
          }
        }
      }
    }
    .editor_semanticColors_sectionsBox {
      display: flex;
      align-items: center;
      gap: 32px;
    }
    .editor_semanticColors_contrastButtonActions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@media (width <= 1270px) {
  .editor_semanticColors {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    .editor_semanticColors_contrastButtonActions {
      justify-content: center;
    }
  }
}
