@mixin interactiveSemantics {
  &.button_interactiveSemantic--success {
    &:hover {
      background: var(--theme_success);
      color: #151515;
    }
  }
  &.button_interactiveSemantic--warning {
    &:hover {
      background: var(--theme_warning);
      color: #ffffff;
    }
  }
  &.button_interactiveSemantic--danger {
    &:hover {
      background: var(--theme_danger);
      color: #ffffff;
    }
  }
}

.button {
  width: fit-content;
  border: none;
  padding: 8px 8px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: ease-in-out;
  &:focus-visible {
    box-shadow: 0 0 0 2px var(--theme_outline);
  }
  svg {
    flex-shrink: 0;
    max-width: 24px;
  }
  &:active {
    transform: scale(1.025);
  }
}

.button--isFullWidth {
  width: 100%;
}

.button--default {
  background: var(--theme_background_3);
  color: var(--theme_text);
  &:hover {
    background: var(--theme_background_4);
  }
  &.button--isSelected {
    background: var(--theme_background_4);
  }
  @include interactiveSemantics();
}

.button--ghost {
  background: transparent;
  color: var(--theme_text);
  &:hover {
    background: var(--theme_background_3);
  }
  &.button--isSelected {
    background: var(--theme_background_4);
  }
  @include interactiveSemantics();
}

.button--contrast {
  background: var(--theme_background_contrast_3);
  color: var(--theme_text_contrast);
  &:hover {
    background: var(--theme_background_contrast_2);
  }
  &.button--isSelected {
    background: var(--theme_background_contrast_2);
  }
  @include interactiveSemantics();
  &:focus-visible {
    box-shadow:
      0 0 0 1px var(--theme_border),
      0 0 0 3px var(--theme_outline);
  }
}

.button.button--iconOnly {
  width: 35px;
  height: 35px;
  justify-content: center;
}
