@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  min-height: 100dvh;
  background: var(--theme_background_1);
  color: var(--theme_text);
  font-family: var(--font_montserrat);
  font-size: var(--text_size_body);
  font-weight: var(--text_weight_regular);
  overflow: hidden;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  color: var(--theme_text);
  font-family: var(--font_montserrat);
  font-size: var(--text_size_body);
  font-weight: var(--text_weight_regular);
  text-decoration: none;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.react-tooltip {
  z-index: 1000;
}

#css-theme-builder {
  z-index: 1500;
}
