.toolbar {
  height: 64px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  position: relative;
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag;
  .toolbar_controls {
    display: flex;
    align-items: center;
    gap: 8px;
    .toolbar_controls_colorModeBox {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  .button,
  svg,
  .windowsControlButton {
    -webkit-app-region: no-drag;
  }
}
