.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  .checkbox_input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    &:focus-visible + .checkbox_customInput {
      border-color: var(--theme_border_active);
    }
    &:checked + .checkbox_customInput {
      border-color: var(--theme_border);
      background: var(--theme_background_contrast_1);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 6px;
        border-left: 3px solid var(--theme_text_contrast);
        border-bottom: 3px solid var(--theme_text_contrast);
        transform: rotate(-45deg);
      }
    }
    &:focus-visible + .checkbox_customInput {
      box-shadow: 0 0 0 2px var(--theme_outline);
    }
  }
  .checkbox_customInput {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: var(--theme_background_1);
    border: 1px solid var(--theme_border);
    cursor: pointer;
    &:hover {
      border-color: var(--theme_border_active);
    }
  }
}
