.editor_accordion {
  background: var(--theme_background_2);
  border-radius: 8px;
  padding: 16px;
  .editor_accordion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .editor_accordion_description {
      width: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
      span {
        font-size: var(--font_size_heading_1);
        font-weight: var(--font_weight_bold);
      }
      p {
        color: var(--theme_text_muted);
        font-size: var(--font_size_small);
      }
    }
    .editor_accordion_controls {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 1;
      gap: 8px;
    }
  }
  .editor_accordion_animationWrapper {
    opacity: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.15s ease-in-out;
    .editor_accordion_content {
      min-height: 0;
      padding: 0;
      transition: padding 0.15s ease-in-out;
    }
  }
  .editor_accordion_animationWrapper--open {
    grid-template-rows: 1fr;
    opacity: 1;
    .editor_accordion_content {
      padding-top: 32px;
    }
  }
}
